<!-- work -->
<section class="sm:px-[147px] mt-[66px] p-[20px]">
    <h4 class="text-3xl font-bold">Works</h4>
    <div *ngFor="let item of workList" class="border-b m-[20px] sm:m-0 sm:pb-[20px]">
        <a routerLink="/work/{{item.id}}" class="sm:flex mt-[45px]">
            <img class="rounded sm:w-[250px]"
                src="{{item.image}}"
                alt="">
            <div class="ml-[20px]">
                <h1 class="text-2xl sm:text-2xl font-semibold">{{item.name}}</h1>
                <div class="flex py-[15px]">
                    <p class="px-[10px] mr-[20px] rounded-full bg-black text-white text-lg font-semibold">2020</p>
                    <p class="text-lg">{{item.categoriesWork.name}}</p>
                </div>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                    Velit officia consequat duis enim velit mollit.
                    Exercitation veniam consequat sunt nostrud amet.
                </span>
            </div>
        </a>
    </div>
</section>