<form (submit)="onSubmit()">
    <div #formAdd="" class="mb-3">
        <input type="text" class="w-full indent-[10px] border-b" [(ngModel)]="blog.title" name="title"
            placeholder="Title" #name="ngModel" required minlength="10">
    </div>

    <select name="categoryId" [(ngModel)]="blog.categoryBlogId" class="w-full indent-[10px] border-b mb-3"
        #name="ngModel" required>
        <option *ngFor="let item of cateBlogList" value="{{item.id}}">{{item.name}}</option>
    </select>

    <ckeditor tagName="textarea" name="content" [(ngModel)]="blog.content" #name="ngModel" required></ckeditor>

    <div ngClass="" *ngIf="name.errors" class="bg-red-100 text-red-700">
        <p ngClass="px-4 py-3 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" *ngIf="name.errors?.['required'] && (name.dirty || name.touched)" class="alert alert-danger">
            Title is required
        </p>
        <p ngClass="px-4 py-3 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" *ngIf="name.errors?.['minlength'] && (name.dirty || name.touched)" class="alert alert-danger">
            At least 10 characters
        </p>
    </div>

    <button [disabled]="!formAdd" class="btn btn-primary mt-3">Submit</button>
</form>