<section class="sm:px-[147px] mt-[66px] p-[20px]">
    <h1 class="text-3xl font-bold">Blog</h1>
    <div class="">
        <div routerLink="/blog/{{item.id}}" *ngFor="let item of blogList" class="bg-white py-[30px] rounded border-b cursor-pointer">
            <h1 class="font-bold text-2xl">{{item.title}}</h1>
            <div class="w-[250px] flex justify-between pt-[30px] pb-[15px]">
                <p>12 Feb 2020</p>
                |
                <p>{{item.categoryBlog.name}}</p>
            </div>
            <p class="text-lg">{{item.content}}</p>
        </div>
    </div>
</section>